<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactanos</title>
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
                <a class="navbar-brand" href="../../index.html"><img class="Logo_P"
                        src="../Assets/principal/Logo/LogoTransparente.png" alt="Logo de la Marca" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="./productos.html">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../Paginas/Contactanos.html">Contactanos</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="text" placeholder="Search" />
                        <button class="btn btn-primary" type="button">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container-fluid">
            <div class="row">
                <!-- Menú lateral -->
                <section class="col-md-2 menu-lateral">
                    <h4>Categoría</h4>
                    <div class="nav flex-column nav-pills" id="pills-tab" role="tablist">
                        <button class="nav-link active" id="pills-op1-tab" data-bs-toggle="pill"
                            data-bs-target="#pills-op1" type="button" role="tab">
                            Destacada
                        </button>
                        <button class="nav-link" id="pills-op2-tab" data-bs-toggle="pill" data-bs-target="#pills-op2"
                            type="button" role="tab">
                            Vestidos
                        </button>
                        <button class="nav-link" id="pills-op3-tab" data-bs-toggle="pill" data-bs-target="#pills-op3"
                            type="button" role="tab">
                            Deportivo
                        </button>
                    </div>
                </section>

                <!-- Contenido dinámico -->
                <section class="col-md-10">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-op1" role="tabpanel">
                            <iframe class="responsive-iframe" src="categoria.html"></iframe>
                        </div>
                        <div class="tab-pane fade" id="pills-op2" role="tabpanel">
                            <iframe class="responsive-iframe" src="categoria2.html"></iframe>
                        </div>
                        <div class="tab-pane fade" id="pills-op3" role="tabpanel">
                            <iframe class="responsive-iframe" src="categoria3.html"></iframe>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </main>

    <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-5 py-3 border-top">
        <div class="col mb-3">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
            </a>
            <a href="../../index.html"><img class="Logo_P" src="../Assets/principal/Logo/LogoTransparente.png"
                    alt="Logo de la Marca" /></a>
        </div>

        <div class="col"></div>

        <div class="col mb-3">
            <h5>Acerca de:</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">SportModa</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Envíos y Devoluciones</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Términos y Condiciones</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" class="nav-link p-0">Política de Privacidad</a>
                </li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Redes sociales</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <a href="#" target="_blank" class="nav-link p-0 text-muted"><i class="fab fa-youtube"></i>
                        Youtube</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="https://www.instagram.com/sportmoda2518/" target="_blank"
                        class="nav-link p-0 text-muted"><i class="fab fa-instagram"></i> Instagram</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" target="_blank" class="nav-link p-0 text-muted"><i class="fab fa-facebook"></i>
                        Facebook</a>
                </li>
                <li class="nav-item mb-2">
                    <a href="#" target="_blank" class="nav-link p-0 text-muted"><i class="fab fa-tiktok"></i> TikTok</a>
                </li>
            </ul>
        </div>

        <div class="col mb-3">
            <h5>Contacto Directo</h5>
            <ul class="nav flex-column">
                <li class="nav-item mb-2">
                    <i class="fas fa-phone"></i> 312 3128234
                </li>
                <li class="nav-item mb-2"><i class="fas fa-envelope"></i> edinan2518@gmail.com</li>
                <li class="nav-item mb-2">
                    <a href="../Paginas/Contactanos.html" class="nav-link p-0 text-muted"><i
                            class="fas fa-envelope-open-text"></i> Contactanos</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</body>

</html>