@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
}

header {
    background-color: #E7D7C3;
}

.Logo_P {
    width: 150px;
    height: 100px;
    object-fit: cover;
    border-radius: 40px;
}

footer {
    background-color: #eee9e2;
}

footer .Logo_P {
    width: 100%;
    height: auto;
}

footer h5 {
    font-family: "Roboto Condensed", sans-serif;
}
footer .nav-link{
    color: #2D2A26;
}
footer .nav-link:hover {
    color: #c6b1a9;
    text-decoration: underline;
}

.navbar .nav-link {
    font-size: 15px;
    color: #2D2A26;
}

.navbar .nav-link:hover {
    color: #FAF3E0;
    text-decoration: underline;
}

.carousel-inner {
    height: 400px;
    margin-bottom: 50px;
}

.d-block {
    height: 400px;
}

.containerProducts {
    margin-bottom: 50px;
}

.product_list .card {
    transition: transform 0.3s ease;
}

.product_list .card:hover {
    transform: scale(1.15);
}

.titleP {
    font-family: "Roboto Condensed", cursive;
}

.price {
    font-weight: bold;
}

.ButtomP {
    text-decoration: none;

}
.Banner1 .image{
    height: 300px;
    width: 100%;
}
.Banner1 .image2{
    height: 400px;
    width: 100%;
    object-fit:contain;
}
.Banner1 .image2:hover{
    transition: transform 0.3s ease;
}
.Banner1 .image2:hover{
    transform: scale(0.90);
}
.product_list_flex .col{
    max-width: 200px;
}

.product_list_flex{
    margin-top: 80px;
}

/* contactanos */

.location{
    background-color: #f0e5e0;
    margin-bottom: 50px;
} 
.location p {
    height: 280px;
    background-color: #f3f2f0;
    text-align: justify;
}

/* producto */
.menu-lateral {
    background-color: #f8f9fa;
    padding: 20px;
    height: auto;
    border-right: 2px solid #000;
}


.responsive-iframe {
    width: 100%;
    height: 800px;
    margin-bottom: 20px;
}
.categoria{
    margin-bottom: 20px;
}